@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sales Management</h1>
    <p class="lead">A simple ASP.NET MVC application to manage sales.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
           Update Products, customers and process orders all on an intuituve interface.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more than you asked for</h2>
        <p>
            Let us exceed your expectation
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>